{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"],["~", "./src"]],
        "extensions": [".js", ".vue", ".json"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["vue"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": ".*", "args": "none" }]
  }
}
